* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

.character {
    &__container {
        border: 1px solid;
        display: flex;
        flex-direction: row;
    }
    
    &__name {
        font-weight: bold;
        text-align: center;
    }
    &__card {
        display: flex;
        max-width: 400px;
        flex-direction: column;
        background-color: bisque;
        padding: 1rem;
        font-size: 2rem;
    }
    &__data {
        transition: 1s;
        display: flex;
        flex-direction: column;
        height: 0;
        width: 0;
        &--open {
            height: 80%;
            width: 100%;
        }
        &--overview {
            transition: 1s;
            display: flex;
            position: fixed;
            top: 10%;
            left: 10%;
            padding: 4rem;
            background-color: ghostwhite;
            height: 80%;
            width: 80%;
            flex-direction: column;
        }
    }
}